.idea
.vs

src/BarberApp/BA.Data/bin
src/BarberApp/BA.Data/obj

src/BarberApp/BA.Service/bin
src/BarberApp/BA.Service/obj

src/BarberApp/BA.Common/bin
src/BarberApp/BA.Common/obj

src/BarberApp/BA.Application/bin
src/BarberApp/BA.Application/obj

src/BarberApp/BA.Application/BA.Application.csproj.user


*.Designer.cs
*.sln.DotSettings.user

